@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.text-neon {
  color: #00ffff;
  text-shadow: 
  0 0 5px #00ffff, 
  0 0 10px #00ffff,
  0 0 20px #00ffff;

}
.circle-neon {
  position: relative;
  box-shadow:
    0 0 10px #00ffff,
    0 0 20px #234949,
    0 0 40px #73ecec,
    0 0 80px hwb(180 49% 7%);
}
.text-neon-light {
  color: #00ffff;
  text-shadow:
    0 0 2px #00ffff,
    0 0 4px hsl(180, 100%, 50%);
}